<!DOCTYPE html>
<html>



<body style="background-color:#003366;">
  <br>
  <br>
  <br>
  <div align="Let">
    <form class="column" action="{{ url_for('shop.cart')}}" method="post">
      <button style="background-color:#003366;color:white;height:40px;width:250px" align="Left" type="submit"
        class="btn btn-primary btn-block btn-large">Back to Cart</button>
    </form>
  </div>

  <form method="post">

    <div align="center">
      <h4 align='center' style="color:white;">Payment Sucessful</h4>

  </form>

  <br>
  <br>
  <br>
</body>

</html>